Zohan.ClientSample/Web References/SomeService/someservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PingTest">
        <s:complexType />
      </s:element>
      <s:element name="PingTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingTestSoapIn">
    <wsdl:part name="parameters" element="tns:PingTest" />
  </wsdl:message>
  <wsdl:message name="PingTestSoapOut">
    <wsdl:part name="parameters" element="tns:PingTestResponse" />
  </wsdl:message>
  <wsdl:portType name="SomeServiceSoap">
    <wsdl:operation name="PingTest">
      <wsdl:input message="tns:PingTestSoapIn" />
      <wsdl:output message="tns:PingTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SomeServiceSoap" type="tns:SomeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PingTest">
      <soap:operation soapAction="http://tempuri.org/PingTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SomeServiceSoap12" type="tns:SomeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PingTest">
      <soap12:operation soapAction="http://tempuri.org/PingTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SomeService">
    <wsdl:port name="SomeServiceSoap" binding="tns:SomeServiceSoap">
      <soap:address location="http://basicservice.azurewebsites.net/someservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SomeServiceSoap12" binding="tns:SomeServiceSoap12">
      <soap12:address location="http://basicservice.azurewebsites.net/someservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>